
<div class="container mt-8 p-5">
    <hr class="mt-10">
    <div class="footer flex justify-between gap-5 p-9 mt-7 text-gray-500">
        <div class="logo">
            <a routerLink="home" class="text-blue-800 font-bold"><img
                src="../../assets/svg/Slush.svg"
                height="100"
                width="100"
                alt="hero image"
              /></a>
        </div>
        <div class="company">
            <h3 class="font-bold text-black">Company</h3>
            <div class="gap-4">
                <h1 class="mt-3"><a href="FAQs">FAQs</a></h1>
                <h1 class="mt-3"><a href="FAQs">Careers</a></h1>
                <h1 class="mt-3"><a href="FAQs">Blog</a></h1>
                <h1 class="mt-3"><a href="FAQs">About</a></h1>
            </div>
        </div>
        <div class="products">
            <h3 class="font-bold text-black">Products</h3>
            <div class="gap-4">
                <h1 class="mt-3"><a href="FAQs">Money Transfer</a></h1>
                <h1 class="mt-3"><a href="FAQs">Currency exchange</a></h1>
                <h1 class="mt-3"><a href="FAQs">Stock trading</a></h1>
                <h1 class="mt-3"><a href="FAQs">Business</a></h1>
                <h1 class="mt-3"><a href="FAQs">Virtual cards</a></h1>
            </div>
        </div>
        <div class="legal">
            <h3 class="font-bold text-black">Legal</h3>
            <div class="gap-4">
                <h1 class="mt-3"><a href="FAQs">Privacy policy</a></h1>
                <h1 class="mt-3"><a href="FAQs">Cookie policy</a></h1>
                <h1 class="mt-3"><a href="FAQs">Terms of service</a></h1>
                <h1 class="mt-3"><a href="FAQs">Promotions</a></h1>
            </div>

        </div>
        <div class="social text-black">
            <h3 class="font-bold">Social Media</h3>
            <div class="gap-4">
                <h1 class="mt-3"><a href="FAQs">Facebook</a></h1>
                <h1 class="mt-3"><a href="FAQs">Twitter</a></h1>
                <h1 class="mt-3"><a href="FAQs">Instagram</a></h1>
                <h1 class="mt-3"><a href="FAQs">LinkedIn</a></h1>
            </div>
        </div>
    </div>

    <hr class="bg-blue-800 text-blue-800 divide">

    <div class="right mt-7">
        <div class="flex justify-between gap-5 mt-5 text-gray-400">
            <h2>© 2023 Eversend. All rights reserved.</h2>
            <p>NO 19 OLEANDER STREET, EAST LEGON. ACCRA, GHANA</p>
        </div>
    </div>
</div>
