<div class="container">
    <div class="">
        <div class="logo">
            <h1>EverSend</h1>
        </div>
        <div class="company">
            <h3>Company</h3>
            <div class="gap-4">
                <h1><a href="FAQs">FAQs</a></h1>
                <h1><a href="FAQs">Careers</a></h1>
                <h1><a href="FAQs">Blog</a></h1>
                <h1><a href="FAQs">About</a></h1>
            </div>
        </div>
        <div class="products">
            <h3>Products</h3>
            <div class="gap-4">
                <h1><a href="FAQs">Money Transfer</a></h1>
                <h1><a href="FAQs">Currency exchange</a></h1>
                <h1><a href="FAQs">Stock trading</a></h1>
                <h1><a href="FAQs">Business</a></h1>
                <h1><a href="FAQs">Virtual cards</a></h1>
            </div>
        </div>
        <div class="legal">
            <h3>Legal</h3>
            <div class="gap-4">
                <h1><a href="FAQs">Privacy policy</a></h1>
                <h1><a href="FAQs">Cookie policy</a></h1>
                <h1><a href="FAQs">Terms of service</a></h1>
                <h1><a href="FAQs">Promotions</a></h1>
            </div>

        </div>
        <div class="social">

        </div>
    </div>
</div>
