/* .container{
    background-color: #F4F5F6;
    width: 100%;
} */
.container{
    width: 90vw;
    max-width: 1445px;
    margin: 0 auto;
}



a:hover{
    color: blue;
}


.divider{
    border: 2px solid blue;
    background-color: blue;
    
}
