<div class="container">
    <div class="hero">
        <div class="content">
            <h1 class="mt-20">One multi-currency app for all your money needs.</h1>
            <h3 class="text-left my-2">{{currentMessage}}</h3>
            <p class="text-white">Available on</p>
            <div class="app-store flex gap-10 mt-4">
                <div class="play flex gap-3 ">
                    <img src="../../assets/svg/play-store.svg" height="20" width="20" alt="hero image">
                    <p class="mt-1">Play Store</p>
                </div>
                <div class="app flex gap-3"> 
                    <img src="../../assets/svg/apps-store.svg" height="20" width="20" alt="hero image">
                    <p class="mt-1">Apps Store</p>
                </div>
            </div>
            <div class="download flex justify-center gap-5 my-9 bg-white rounded-lg p-3">
                <p class="text-blue-600">Download here</p>
                <svg class="text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                </svg>
            </div>
        </div>
        <div class="img mt-10">
            <img src="../../assets/images/image-6.png" height="60" width="500" alt="hero image">
        </div>
    </div>
</div>
