<div class="container">
    <p class="title text-center my-10">features</p>
    <div class="content">
        <h2 class="text-center my-6">The financial super app</h2>
        <p>A multi currency e-wallet that allows you to exchange, spend
            and send money at the best possible rates
        </p>
    </div>

    <div class="features-cards">
        <div class="card blue mt-10">
            <img src="../../assets/images/sandr.png"  alt="feature1">
            <div class="text ml-16 mt-10">
                <h3>
                    Send and <br> receive money</h3>
                <p>
                    The cheap, fast way to send money abroad. We are 10X cheaper and faster than your bank</p>
            </div>
        </div>
        <div class="card exchange mt-10">
            <div class="text mt-10">
                <h3>Exchange currency</h3>
               <p>Exchange at the best possible rates. Eversend is one of the biggest currency exchange platforms in Africa by volume</p>
            </div>
            <img src="../../assets/svg/eversend-exchange-currency.svg" alt="feature2">
        </div>
        <div class="card debit mt-10">
            <img class="ml-10" src="../../assets/svg/eversend-virtual-debit-cards.svg" alt="feature3">
            <div class="text ml-24 mt-10">
                <h3>Virtual debit cards</h3>
                <p>Banks in Africa charge you up to 15% in hidden foreign exchange fees when you pay online with your local currency bank card. Use Eversend USD virtual cards to save up to 13% </p>
            </div>
        </div>
        <div class="card stock mt-10 p-3">   
            <div class="text mx-24 mt-10">
                <h3>Stock trading</h3>
                <p>Eversend brings you access to US stocks in Africa. Providing you the tools to protect and grow your wealth. Sign up now to get early access.</p>
                <button class="bg-blue-700 rounded-lg p-3 text-white mt-5">Request early access</button>
            </div>
            <img src="../../assets/svg/stock-trading-feature.svg"  alt="feature4">
        </div>
    </div>
</div>
