<div class="container">
   <div class="hero">
    <h5 class="title">About</h5>
    <h1 class="my-5">We are Eversend, we are not just about money exchange- we are about you and the connections you have and make.</h1>
    <img src="../../assets/images/eversend-1.png" alt="">
   </div>

   <div class="statis rounded-lg">
        <h3 class="text-center my-3">We are just getting started</h3>
        <div class="flex justify-center gap-20 mt-5"> 
            <div>
                <h3 class="text-center text-6xl font-bolder">9</h3>
                <p>Currencies supported</p>
            </div>
            <div>
                <h3 class="text-center text-6xl font-bolder">500,000+</h3>
                <p>Happy customers</p>
            </div>
            <div>
                <h3 class="text-center text-6xl font-bolder">22</h3>
                <p>Team members</p>
            </div>

            <div>
                <h3 class="text-center text-6xl font-bolder">7</h3>
                <p>Countries</p>
            </div>
        </div>
   </div>
</div>

<div class="build flex justify-center p-4 gap-5 bg-blue-800 mt-36 rounded-lg">
    <div class="content mt-10">
        <div class="text-white my-7 mx-8">
            <h2 class="border text-3xl">Why we build</h2>
            <p>Everything we do is for our customers. We are focused on helping you build and protect your wealth by providing the financial services you need from payments, to wealth, savings, and loans. No one should be left out of the economy because of cost or complexity. We aim to make everything we do affordable and simpl</p>
        </div>

        <div class="text-gray-400 my-7 mx-8">
            <h2 class="text-3xl">Our vision</h2>
            <p>Everyone participating and winning in the economy. Democratising finance for all.</p>
        </div>

        <div class="text-gray-400 my-7 mx-8">
            <h2 class="text-3xl">Our mission</h2>
            <p>To promote economic stability, well-being, and livelihood through financial empowerment.</p>
        </div>
    </div>
    <div class="img mt-8">
        <img src="../../assets/images/Contents.png" height="500" width="1500" alt="content image">
    </div>
</div>