.container{
    width: 90vw;
    max-width: 1375px;
    margin: 0 auto;
}

input{
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
}

.post:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

button{
    width: 100px;
}

.skeleton-placeholder {
    height: 100px; /* Set a suitable height */
    background: #eee; /* Use a light background color */
    margin-bottom: 10px; /* Adjust as needed */
    border-radius: 8px; /* Add border radius for rounded corners */
}

  