<div class="home-container">
  <app-hero></app-hero>
  <div class="feature my-16">
    <h2 class="text-center my-6">As featured in</h2>
    <div class="logos flex justify-center gap-32">
      <img
        src="../../assets/svg/BBC-logo.svg"
        height="100"
        width="100"
        alt="hero image"
      />
      <img
        src="../../assets/svg/cnn-logo-1.svg"
        height="100"
        width="100"
        alt="hero image"
      />
      <img
        src="../../assets/svg/Bloomberg.svg"
        height="100"
        width="100"
        alt="hero image"
      />
      <img
        src="../../assets/svg/forbes-seeklogo.com-2.svg"
        height="100"
        width="100"
        alt="hero image"
      />
      <img
        src="../../assets/svg/Slush.svg"
        height="100"
        width="100"
        alt="hero image"
      />
    </div>
  </div>

  <app-cards></app-cards>

  <div class="map my-10  bg-slate-100 p-5">
    <div class="content">
      <h2>Trusted globally by</h2>
      <h1>650, 000+</h1>
      <p>happy customers</p>
    </div>
    <img src="../../assets/images/mapbase.png" alt="hero image">
  </div>

  <app-features></app-features>

  <div class="business bg-blue-950 p-16 mt-10">
    <div class="b-main flex justify-evenly gap-10">
      <div class="b-content text-white mt-16">
        <h2 class="text-2xl font-bold mb-2">For business owners</h2>
        <p class="b-text">Multi-currency business payments to fuel your global growth. Collections, payouts, currency exchange, and working capital.</p>
        <button class="bg-blue-700 rounded-lg p-3 text-white mt-5">Learn more</button>
      </div>
      <img src="../../assets/images/MacBook-Pro-16.png" width="700" alt="hero image">
    </div>
  </div>

  <div class="started flex justify-center gap-24">
    <img class="mt-20" src="../../assets/images/image-4.png" width="500" alt="">

    <div class="start-content mt-44 ">
      <h2>Get started in 3 easy steps</h2>
      <div class="flex gap-6 mt-10 text-gray-500">
        <h5>1</h5>
        <p>Download Eversend app <br>
          Download the Eversend mobile app for your Android or iOS device.</p>
      </div>

      <div class="flex gap-6 mt-10 text-gray-500">
        <h5>2</h5>
        <p>Complete KYC <br>
          Download the Eversend mobile app for your Android or iOS device.</p>
      </div>
      <div class="flex gap-6 mt-10 text-gray-500">
        <h5>3</h5>
        <p>Start transacting<br>
          Download the Eversend mobile app for your Android or iOS device.</p>
      </div>

      <button class="bg-blue-600 rounded-lg p-3 text-white mt-5"> Download Eversend app now</button>
    </div>
  </div>
</div>

