<div class="home-container">
    <app-hero></app-hero>
    <div class="feature my-16">
        <h2 class="text-center my-6">As featured in</h2>
        <div class="logos flex justify-center gap-32">
            <img src="../../assets/svg/BBC-logo.svg" height="100" width="100" alt="hero image">
            <img src="../../assets/svg/cnn-logo-1.svg" height="100" width="100" alt="hero image">
            <img src="../../assets/svg/Bloomberg.svg" height="100" width="100" alt="hero image">
            <img src="../../assets/svg/forbes-seeklogo.com-2.svg" height="100" width="100" alt="hero image">
            <img src="../../assets/svg/Slush.svg" height="100" width="100" alt="hero image">
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->