<div class="career-container mt-10">
    <h5 class="title mb-6">Careers</h5>
    <div class="container">
        <div class="image-container">
            <img src="../../assets/images/eversend-1.png" alt="" class="blur" />
            <div class="text-overlay bg-blue-700 rounded-lg p-5">
                <h1 class="head-text">Careers</h1>
                <p class="text-center">
                    We are always looking for talented people to join our team. If you
                    are interested in working with us, please send your CV to
                </p>

                <button class="bg-white mt-3 text-blue-700 rounded-lg p-2 font-bold" routerLink="about">Learn more about us</button>
            </div>
        </div>
    </div>

    <div class="jobs">
        <h1 class="text-center mt-10">Available Jobs</h1>
        <div class="job text-blue-600 flex justify-center mt-8">
            <div class="react">
                <h2 class="text-lg font-bold">React Developer</h2>
                <p class="text-yellow-500">Remote : Ghana, Accra</p>
            </div>
            <button class="bg-blue-800 text-white font-bold justify-end"><a href="">Apply</a></button>
        </div>

        <div class="job text-blue-600 flex justify-center mt-8">
            <div class="react">
                <h2 class="text-lg font-bold">Angular Developer</h2>
                <p class="text-yellow-500">Remote : Ghana, Accra</p>
            </div>
            <button class="bg-blue-800 text-white font-bold justify-end"><a href="">Apply</a></button>
        </div>

        <div class="job text-blue-600 flex justify-center mt-8">
            <div class="react">
                <h2 class="text-lg font-bold">Java Developer</h2>
                <p class="text-yellow-500">Remote : Ghana, Accra</p>
            </div>
            <button class="bg-blue-800 text-white font-bold justify-end"><a href="">Apply</a></button>
        </div>

        <div class="job text-blue-600 flex justify-center mt-8">
            <div class="react">
                <h2 class="text-lg font-bold">Devops Developer</h2>
                <p class="text-yellow-500">Remote : Ghana, Accra</p>
            </div>
            <button class="bg-blue-800 text-white font-bold justify-end"><a href="">Apply</a></button>
        </div>

        <div class="job text-blue-600 flex justify-center mt-8">
            <div class="react">
                <h2 class="text-lg font-bold">UI/UX Developer</h2>
                <p class="text-yellow-500">Remote : Ghana, Accra</p>
            </div>
            <button class="bg-blue-800 text-white font-bold justify-end"><a href="">Apply</a></button>
        </div>
    </div>

    <div class="team">
        <h2 class="text-center font-bold text-2xl mt-10">Meet the team</h2>
        <p class="mb-7">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, odit quisquam necessitatibus, facilis neque id sequi tenetur ad nisi repudiandae at. Aliquid soluta fugit sunt tempore placeat explicabo quas aspernatur?</p>

        <div class="grid grid-rows-3 grid-flow-col gap-4 mt-7">
            <div class="row-start-2 row-span-2 ...">
                <img class="blur  rounded-lg"  src="../../assets/images/evelyn-namara.jpeg" alt="">
            </div>
            <div class="row-end-3 row-span-2 ...">
                <img class=" blur rounded-lg" src="../../assets/images/stanley-ssempijja.jpeg" alt="">
            </div>
            <div class="row-start-2 row-span-2 ...">
                <img class="blur rounded-lg" src="../../assets/images/oyetunde-kehinde.jpeg" alt="">
            </div>
          </div>
    </div>

    <div class="talent my-10">
        <div class=" bg-gray-200 rounded-lg p-5">
            <h1 class="font-bold text-2xl">Join Our Talent Pool</h1>
            <p class="">
                Want to peek into our daily work? Our coaches recount real world situations shared as learning opportunities to build soft skills. We share frameworks, podcasts and thinking tools for sr software developers.
            </p>

            <div class=" form">
                <input class="p-3" type="text" placeholder="example@gmail.com">
                <button (click)="submit()" class="bg-white mt-3 text-blue-700 rounded-lg p-4 font-bold" routerLink="about">Submit</button>
            </div>
        </div>
    </div>
    
</div>
