<div class="container mt-10">
    <h2 class="text-center my-7">Manage your money
        in the palm of your hand.</h2>

    <div class="cards mx-7">
        <div class="black text-white rounded-lg p-16">
            <div class="card__icon">
                <img class="my-5" src="../../assets/svg/low-transaction-fees.svg" height="60" width="60" alt="icon">
            </div>
            <div class="card__title font-extrabold my-3">
                <h3>Low transaction fees</h3>
            </div>
            <div class="card__text">
                <p>Send and receive money from friends and family at affordable rates. We aim to drive the cost of payments to zero.</p>
            </div>
        </div>

        <div class="white">
            <div class="card__icon">
                <img class="my-5" src="../../assets/svg/multi-currency-wallets.svg" height="60" width="60" alt="icon">
            </div>
            <div class="card__title font-extrabold my-3">
                <h3>Low transaction fees</h3>
            </div>
            <div class="card__text">
                <p>Send and receive money from friends and family at affordable rates. We aim to drive the cost of payments to zero.</p>
            </div>
        </div>

        <div class="white">
            <div class="card__icon">
                <img class="my-5" src="../../assets/svg/customer-service.svg" height="60" width="60" alt="icon">
            </div>
            <div class="card__title font-extrabold my-3">
                <h3>Low transaction fees</h3>
            </div>
            <div class="card__text">
                <p>Send and receive money from friends and family at affordable rates. We aim to drive the cost of payments to zero.</p>
            </div>
        </div>

        <div class="black">
            <div class="card__icon">
                <img class="my-5" src="../../assets/svg/high-level-security.svg" height="60" width="60" alt="icon">
            </div>
            <div class="card__title font-extrabold my-3">
                <h3>Low transaction fees</h3>
            </div>
            <div class="card__text">
                <p>Send and receive money from friends and family at affordable rates. We aim to drive the cost of payments to zero.</p>
            </div>
        </div>
    </div>
</div>
