<div class="my-8">
    <div class="nav my-8">
        <div class="logo">
            <a routerLink="home" class="text-blue-800 font-bold"><img
                src="../../assets/svg/Slush.svg"
                height="100"
                width="100"
                alt="hero image"
              /></a>
        </div>
        <div class="nav-links flex gap-10">
            <a routerLink="home" routerLinkActive="active">Home</a>
            <a routerLink="about" routerLinkActive="active">About</a>
            <a routerLink="blog" routerLinkActive="active">Blog</a>
            <a routerLink="careers" routerLinkActive="active">Careers</a>
            <a routerLink="about" routerLinkActive="active">FAQs</a>
        </div>
    </div>
</div>
