<div class="my-8">
    <div class="nav my-8">
        <div class="logo">
            <a routerLink="home" class="text-blue-800 font-bold">EverSend</a>
        </div>
        <div class="nav-links flex gap-10">
            <a routerLink="about" routerLinkActive="active">About</a>
            <a routerLink="about" routerLinkActive="active">Blog</a>
            <a routerLink="about" routerLinkActive="active">Careers</a>
            <a routerLink="about" routerLinkActive="active">FAQs</a>
        </div>
    </div>
</div>
