/* .nav{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1445px;
    margin: 0 auto;
    padding: 10px;
}

.nav-links a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 10px;
} */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Initially hide the sidebar off-screen */
    width: 80%; /* Adjust the width as needed */
    height: 100vh;
    background-color: white; /* Adjust the background color as needed */
    z-index: 1000; /* Adjust the z-index to ensure it's above other elements */
    transition: left 0.3s ease; /* Add a smooth transition effect */
  }
  
  .sidebar.active {
    left: 0; /* Move the sidebar to the screen when active */
  }
  

.logo a{
    font-size: 30px;
}

.display{
    background-color: red;
    display: none;
}