<div class="container">
  <div class="head text-center mt-10">
    <h2 class="text-2xl font-bold mb-5">Our Values</h2>
    <p>We pride ourselves in upholding values that drive us to be the best.</p>
  </div>

    <div class="values-cards">
        <div class="first-section flex  gap-5 my-5">
            <div class="lightblue col-span-1 flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">1</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Customer-first.</h3>
                </div>
                <img class="mb-6" src="../../assets/svg/1.png"  alt="" />
            </div>
            <div class="flex-1 w-44">
                <div class="yellow1  flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">2</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Continuous improvement and growth.</h3>
                </div>
                <img src="../../assets/svg/2.png"  alt="" />
                </div>
            </div>
        </div>
        <div class="second-section flex  gap-5 my-5">
            <div class="green  flex justify-between">
                <div class="mt-24 ml-16">
                <p class="number bg-white p-1">3</p>
                <h3 class="text-xl font-bold mt-5 mb-3">Openness and integrity.</h3>
                </div>
                <img src="../../assets/svg/3.png"  alt="" />
            </div>
            <div class="...">
                <div class="violent  flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">4</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Equality.</h3>
                </div>
                <img src="../../assets/svg/4.png"  alt="" />
                </div>
            </div>
            <div class="...">
                <div class="lightblue  flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">5</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Prioritisation and urgency.</h3>
                </div>
                <img src="../../assets/svg/1.png"  alt="" />
                </div>
            </div>
        </div>

        <div class="second-section flex  gap-5 my-5">
            <div class="yellow   flex justify-between">
                <div class="mt-24 ml-10">
                    <p class="number bg-white p-1">6</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Test-driven processes.</h3>
                </div>
                <img src="../../assets/svg/6.png"  alt="" />
            </div>
            <div class="...">
                <div class="deepblue  flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">7</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Creativity and innovation.</h3>
                </div>
                <img src="../../assets/svg/7.png"  alt="" />
                </div>
            </div>
            <div class="...">
                <div class="cream  flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">8</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Agency.</h3>
                </div>
                <img src="../../assets/svg/8.png" alt="" />
                </div>
            </div>
        </div>

        <div class="flex gap-5 mt-5">
            <div class="...">
                <div class="violent  flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">9</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Social impact.</h3>
                </div>
                <img src="../../assets/svg/9.png" alt="" />
                </div>
            </div>
            <div class="">
                <div class="green  flex justify-between">
                <div class="mt-24 ml-16">
                    <p class="number bg-white p-1">10</p>
                    <h3 class="text-xl font-bold mt-5 mb-3">Fun.</h3>
                </div>
                <img src="../../assets/svg/10.png"  alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
